#app-container {
  // app container in client
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  .custom {
    // margin
    &-mt-4 {
      margin-top: 16px !important;
    }

    &-mt-2 {
      margin-top: 8px !important;
    }

    &-mb-4 {
      margin-bottom: 16px !important;
    }

    &-mb-2 {
      margin-bottom: 8px !important;
    }

    &-ml-4 {
      margin-left: 16px !important;
    }

    &-ml-2 {
      margin-left: 8px !important;
    }

    &-mr-4 {
      margin-right: 16px !important;
    }

    &-mr-2 {
      margin-right: 8px !important;
    }

    &-pt-4 {
      margin-top: 16px !important;
    }

    &-pt-2 {
      margin-top: 8px !important;
    }

    &-pb-4 {
      margin-bottom: 16px !important;
    }

    &-pb-2 {
      margin-bottom: 8px !important;
    }

    &-pl-4 {
      margin-left: 16px !important;
    }

    &-pl-2 {
      margin-left: 8px !important;
    }

    &-pr-4 {
      margin-right: 16px !important;
    }

    &-pr-2 {
      margin-right: 8px !important;
    }
  }
}

html {
  .MuiTypography-body2,
  .MuiTypography-body1,
  .MuiTypography-h1,
  .MuiTypography-h2,
  .MuiTypography-h3,
  .MuiTypography-h4,
  .MuiTypography-h5,
  .MuiTypography-h6,
  .MuiTypography-subtitle1,
  .MuiTypography-subtitle2,
  .MuiTypography-paragraph {
    line-height: 1.5;
  }
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
